*{
    margin: 0;
    padding: 0;
    font-family: Mulish sans-serif;
}
html{
    background-color: #FCFDFD;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 3px  #aeb6b6;
    padding: 10px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:99;
    background:white;
    align-items: center;
    
}
.menu{
    display: none;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: black;
    font-weight: bold;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: bold;
}
.right > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.logo{
    width: 40px;
}
.nav-container1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3px solid gray;
    padding-bottom: 3px;
    margin-bottom: 40px;
    margin-top: 80px;
   
   
}
.nav-container1 > .right-half{
    display: flex;
    gap: 20px;
    color: darkgray;
    

}
.nav-container1 > .right-half > span{
    font-weight: 300;
}
.container{
    width: 80vw;
    margin: auto;
}




.card{
     float: left;
     width: 200px;
     height: 400px;
     padding: 10px 35px;
     margin-bottom: 30px;
     gap: 30px;
     position: relative;

}
.card-image{
    width: 200px;
}
.card p{
    margin: 5px 0;
    font-weight: 100 !important;
    font-size: 14px;
}
.rating-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    font-size: 13px;
    border-bottom: 0.2px solid gray;
}
.bullet{
   width: 5px;
   height: 5px;
   background-color: black;
   border-radius: 50%;

}
.offer-container{
    display: flex;
    padding: 10px 0px;
    border-bottom: 0.2px solid gray;
    font-size: 12px;
    align-items: center;
    gap: 10px;
    color: #8A584B;
}
.cards-container  {
    display: grid;
    grid-template-columns: repeat(4,auto);
    flex-flow: row wrap;
    gap:30px;
    margin-top: 30px;
    margin-left: 100px;
   
    
   
}
.card:hover{
    outline: 0.5px solid gray;
    box-shadow: 0 2px 3px  #aeb6b6;
}
.rating-container > .rating{
    display: flex;
    align-items: center;
    background-color: #DB7C38;
    color: white;
    font-size: 12px !important;
    padding: 2px;
}
.star{
    font-size: 12px ;
}
.card::before{
    content: 'PROMOTED';
    font-size: 13px;
    display: block;
    position: absolute;
    top: 45px;
    background-color:#393C41;
    color: white;
    padding: 4px;
    left: 30px;
    top: 10px;
}
.btn{
   display: block;
   border: none;
   background-color: white;
   margin-top: 10px;
   margin-bottom: 10px;
   font-weight: bold;
   color: rgb(75, 75, 134); 
   margin: 5px auto;
   padding: 5px 0;
   visibility: hidden;
}
.card:hover .btn{
    visibility: visible;
}
.footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 100px;

}
.footer h5{
    color: #808080;
    font-size: 15px;
    
}
.footer > div{
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}
.footer > div > a {
    color: rgb(219, 213, 213);
    text-decoration: none;
}
.footer img{
    width: 150px;
    padding: 10px 0px;
    transition-duration: 0.5s;
    
}
.footer img:hover{
    width: 160px;
}
.store-container{
    align-items: center;
}
.footer a:hover{
    font-weight: bold;
}


@media (max-width: 800px){
    /* mobile view */
    .cards-container{
        grid-template-columns: repeat(2,auto);
    }
    .footer{
        grid-template-columns: repeat(2,subgrid);
    }
    .menu{
        display: block;
    }
    .right{
        display: none;
    }
    .menu:hover + .right{
        display: flex;
        flex-flow: column wrap;
        position: absolute;
        top:80px;
        right: 0;
        width: 200px;
        height: calc(100vh - 82px);
        justify-content: flex-start;
        align-items: stretch;
        position: fixed;
        top: 80px;
        right: 10px;
        background: white;
    }
    .right > div {
      align-items: stretch;
      justify-content: space-evenly;
      
      
      
      
    }
}

@media (max-width: 600px){
    .cards-container{
        grid-template-columns: auto;
        justify-items: center;
    }
    .footer{
        grid-template-columns: max-content;
        gap: 20px;
    }
   
   
}